#background_fridge {
    background-image: url("../../../assets/bg-myfridge.jpg");
    background-size: cover;
}

body {
    width: 90%;
    margin: auto;
    background-color: transparent;
}

#food {
    width: 80%;
    margin: auto;
    text-align: center;
}

#fridge {
    width: 80%;
    margin: auto;
    background-color: gray;
}

.fridge-item {
    height: 120px;
    width: 120px;
    border-radius: 15px;
    border: solid 2px grey;
    object-fit: cover;
}