#home {
    background-image: url('../../assets/terrain-de-football-425x300.jpg');
    background-size: 'cover';
    background-position: 'center';
    background-repeat: 'no-repeat';
    width: '100%';
    height: '1000px';
}

html, body {
    height: 100%; /* Assure que la hauteur de l'écran est prise en compte */
    margin: 0; /* Supprime les marges par défaut */
}
.full-height {
    height: 100vh; /* Vueport Height : prend toute la hauteur de l'écran */
}