#background_home{
    background-image: url("../../../assets/12.jpg");
    background-size: cover;
    height: 1000px;
}

body {
    width: 70%;
    margin: auto;
    background-color: transparent;
}

@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll > .card {
    flex-basis: 25%;
}

.card {
    align-items: center;
}