<app-navbar></app-navbar>

<div id="background_home">

        <body>
                <h1 style="color: red;">Food expired</h1>
                <div *ngIf="expiredFoodbatches.length > 0; else noExpiredFoodbatchesData"
                        class="container mt-5 scrollable-container">
                        <div class="card-group card-group-scroll">
                                <div *ngFor="let foodBatch of expiredFoodbatches" class="card">
                                        <img [src]="foodBatch.safeImageURL" class="card-img-top"
                                                style="max-height: 200px; max-width: auto;">
                                        <div class="card-body">
                                                <h5 class="card-title">{{foodBatch.food.name}}</h5>
                                                <p class="card-text">
                                                        Stock: {{foodBatch.quantity}} <br>
                                                        ExpirationDate: {{foodBatch.expirationDate.split('T')[0]}}
                                                </p>
                                        </div>
                                </div>
                        </div>
                </div>
                <ng-template #noExpiredFoodbatchesData>
                        <p>Congratulations ! None food is expired</p>
                </ng-template>

                <h1 class="mt-4" style="color: #f49812;">Food soon expired</h1>
                <div *ngIf="soonExpiredFoodbatches.length > 0; else noSoonExpiredFoodbatchesData"
                        class="container mt-5 scrollable-container">
                        <div class="card-group card-group-scroll">
                                <div *ngFor="let foodBatch of soonExpiredFoodbatches" class="card">
                                        <img [src]="foodBatch.safeImageURL" class="card-img-top"
                                                style="max-height: 200px; max-width: auto;">
                                        <div class="card-body">
                                                <h5 class="card-title">{{foodBatch.food.name}}</h5>
                                                <p class="card-text">
                                                        Stock: {{foodBatch.quantity}} <br>
                                                        ExpirationDate: {{foodBatch.expirationDate.split('T')[0]}}
                                                </p>
                                        </div>
                                </div>
                        </div>
                </div>
                <ng-template #noSoonExpiredFoodbatchesData>
                        <p>Congratulations ! None food is soon expired</p>
                </ng-template>
        </body>
</div>