<app-navbar></app-navbar>

<body>
        <h1 class="mt-2">Food expired</h1>
        <div class="container mt-5 scrollable-container">
                <div class="card-group card-group-scroll">
                        <div class="card">
                                <img src="../../assets/pomme.jpg" class="card-img-top" style="max-height: 200px;"
                                        alt="pomme" />
                                <div class="card-body">
                                        <h5 class="card-title">Pommes</h5>
                                        <p class="card-text">
                                                Stock: 20 <br>
                                                ExpirationDate: 2025
                                        </p>
                                </div>
                                <div class="card-footer">
                                        <small class="text-muted">favorite</small>
                                </div>
                        </div>
                        <div class="card">
                                <img src="../../assets/pomme.jpg" class="card-img-top" style="max-height: 200px;"
                                        alt="pomme" />
                                <div class="card-body">
                                        <h5 class="card-title">Pommes</h5>
                                        <p class="card-text">
                                                Stock: 20 <br>
                                                ExpirationDate: 2025
                                        </p>
                                </div>
                                <div class="card-footer">
                                        <small class="text-muted">favorite</small>
                                </div>
                        </div>
                        <div class="card">
                                <img src="../../assets/pomme.jpg" class="card-img-top" style="max-height: 200px;"
                                        alt="pomme" />
                                <div class="card-body">
                                        <h5 class="card-title">Pommes</h5>
                                        <p class="card-text">
                                                Stock: 20 <br>
                                                ExpirationDate: 2025
                                        </p>
                                </div>
                                <div class="card-footer">
                                        <small class="text-muted">favorite</small>
                                </div>
                        </div>
                        <div class="card">
                                <img src="../../assets/pomme.jpg" class="card-img-top" style="max-height: 200px;"
                                        alt="pomme" />
                                <div class="card-body">
                                        <h5 class="card-title">Pommes</h5>
                                        <p class="card-text">
                                                Stock: 20 <br>
                                                ExpirationDate: 2025
                                        </p>
                                </div>
                                <div class="card-footer">
                                        <small class="text-muted">favorite</small>
                                </div>
                        </div>
                        <div class="card">
                                <img src="../../assets/pomme.jpg" class="card-img-top" style="max-height: 200px;"
                                        alt="pomme" />
                                <div class="card-body">
                                        <h5 class="card-title">Pommes</h5>
                                        <p class="card-text">
                                                Stock: 20 <br>
                                                ExpirationDate: 2025
                                        </p>
                                </div>
                                <div class="card-footer">
                                        <small class="text-muted">favorite</small>
                                </div>
                        </div>

                </div>
        </div>


        <h1 class="mt-4">Food soon expired</h1>
</body>