<app-navbar></app-navbar>

<body>
        <h1 class="mt-2">Food expired</h1>
        <div class="container mt-5 scrollable-container">
                <div class="card-group card-group-scroll">
                        <div *ngFor="let foodBatch of foodbatches" class="card">
                                <img [src]="foodBatch.safeImageURL" class="card-img-top p-3" style="max-height: 150px;">
                                <div class="card-body">
                                        <h5 class="card-title">Pommes</h5>
                                        <p class="card-text">
                                                Stock: {{foodBatch.quantity}} <br>
                                                ExpirationDate: {{foodBatch.expirationDate}}
                                        </p>
                                </div>
                                <div class="card-footer">
                                        <small class="text-muted">favorite</small>
                                </div>
                        </div>
                </div>
        </div>


        <h1 class="mt-4">Food soon expired</h1>



</body>