<div class="">
    <h1 class="pb-5" style="text-align: center; color: black;
    border-radius: 0px;
    ">Sign In
    </h1>

    <div class="container">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">Log In</div>
                <div class="card-body">
                    <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
                        <div class="mb-3">
                            <label class="form-label">Mail</label>
                            <input type="text" class="form-control" formControlName="mail">
                            <label class="form-label">Password</label>
                            <input type="text" class="form-control" formControlName="password">
                            <button class="btn btn-success mt-3">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>