<app-navbar></app-navbar>

<body>
    <div id="fridge" class="p-5" style="background-image: url('../../assets/free-fridge.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    ">
        <div id="food" class="container mt-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
                <div class="col fridge-item" style="background-image: url('../../assets/pomme.jpg');
                height: 120px;
                width: auto;
                min-height: 120px;
                min-width: 120px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                ">

                </div>
            </div>
        </div>
    </div>
</body>