<form [formGroup]="formAddFood" class="border p-4 rounded shadow-sm bg-light">
    <h3 class="mb-4">Add new food in application</h3>
    <div class="mb-3">
        <label class="form-label mb-2">Bar code of food</label>
        <input formControlName="foodBarcode" name="foodBarcode" type="text" class="form-control" id="foodBarcode"
            placeholder="Type the bar code of food">
    </div>
    <div class="mb-3">
        <label for="foodName" class="form-label mb-2">Name of food</label>
        <input formControlName="foodName" name="foodName" type="text" class="form-control" id="foodName"
            placeholder="Type the name of food">
    </div>
    <div class="mb-3">
        <label for="foodDescription" class="form-label mb-2">Description of food</label>
        <input formControlName="foodDescription" type="text" class="form-control" id="foodDescription"
            placeholder="Type the description of food">
    </div>
    <button (click)="handleAddFood()" class="btn" style="background-color: #4d745d; color: white;">Add food</button>

    <p class="mt-4" *ngIf="addFoodErrorMessage.length > 0" style="color:red">
        {{ addFoodErrorMessage }}
    </p>
</form>