body {
    width: 70%;
    margin: auto;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.section {
    border-bottom: rgb(212, 209, 209) 2px solid;
}

h2 {
    font-weight: bold;
}